{% from 'forms.html' import render_field %}
{% extends "base.html" %}
{% block content %}
<h1>Register an Organzation</h1>
{% if not userdata %}
  <div class="well">
    Please authenticate yourself using one of the following services to continue with registration.
    <br/>
    <br/>
    <div>
      {% for service in get_oauth_services() %}
        <a href="/orgs/signup/{{service.name}}" class="btn btn-primary">{{service.title}}</a>
      {% endfor %}
    </div>
  </div>
{% else %}
  <div class="well">
    You've been authenticated as <strong>{{userdata['email']}}</strong> via {{userdata['service']}}. <a href="/orgs/signup/reset">Not you?</a>
    <br/>
    <br/>
    Please fill the form below to complete the sign up process.
  </div>

  <form role="form" method="POST" style="max-width: 400px;">

    <div class="form-group">
      <label for="name">Organization Name <span class="small">Name of the organization/institute</span></label>
      <input type="text" class="form-control" id="name" name="name" value="">
    </div>
    <div class="form-group">
      <label for="city">City <span class="small">Where is this organization located?</span></label>
      <input type="text" class="form-control" id="city" name="city" value="">
    </div>

    <div class="form-group">
      <label for="designation">Your Designation <span class="small">How are you associated with this organization?</span></label>
      <input type="text" class="form-control" id="designation" name="role" value="">      
    </div>

    <button type="submit" class="btn btn-default">Sign Up</button>    
  </form>
{% endif %}
{% endblock %}

