{% import "macros.html" as macros %}
{% extends "base.html" %}

{% block content_wrapper %}
<div class="org-head">
  <div class="container">
    <h1><a href="/orgs/{{org.id}}">{{ org.name }}</a></h1>

    {% if user and org.is_admin(user.email) %}
      <a class="btn btn-primary pull-right" href="/orgs/{{org.id}}/new-workshop">Setup a new workshop</a>
    {% endif %}
    <div><span class="octicon octicon-location"></span> {{org.city}}</div>
  </div>
</div>

<div class="container">
{% block org_content %}
<h3>Members</h3>
<ul class="list-unstyled">
  <li>
    {% set admin = org.get_admin() %}
    <div style="width: 50px; float: left;">
      <img src="http://www.gravatar.com/avatar/{{admin.email | md5}}?s=50&d=mm" class="img-thumbnail">
    </div>
    <div style="padding-left: 10px; float: left;">
      <div><strong>{{admin.name}}</strong></div>
      <div>{{org.admin_role}}</div>
    </div>
    <div class="clearfix"></div>
  </li>
</ul>


<div class="row">
  <div class="col-md-6">
    <h2>Upcoming Workshops</h2>
    {{ macros.workshop_list(org.get_workshops('pending') + org.get_workshops('confirmed')) }}
  </div>
  <div class="col-md-6">
    <h2>Completed Workshops</h2>
    {{ macros.workshop_list(org.get_workshops('completed')) }}
  </div>
{% endblock %}
</div>

{% endblock %}
