Jinja2==2.7.3
MarkupSafe==0.23
PyYAML==3.11
WTForms==2.0.1
gunicorn==19.0.0
ordereddict==1.1
psycopg2==2.5.3
rauth==0.7.0
requests==2.3.0
unittest2==0.5.1
wsgiref==0.1.2
envelopes==0.4
markdown==2.4.1
BeautifulSoup==3.2.1
cssutils==1.0
pynliner==0.5.1
git+git://github.com/webpy/webpy.git#egg=web
