{% from "forms.html" import render_field %}
{% extends "orgs/view.html" %}
{% block org_content %}
<h1>Edit {{workshop.title}}</h1>

<div class="row">
  <div class="col-md-6 col-sm-12">
    <form role="form" method="POST">
      {{ render_field(form.title, help="E.g. Introduction to Python programming") }}
      {{ render_field(form.description, help="Please provide details about duration, requirements, level of participants etc.") }}
      {{ render_field(form.expected_participants) }}
      {{ render_field(form.date, type="date") }}

      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</div>
{% endblock %}
