{% extends "orgs/view.html" %}

{% macro render_trainer(t) %}
  <div>
    <div style="width: 40px; float: left;">
      <img src="http://www.gravatar.com/avatar/{{t.email | md5}}?s=40&d=mm" class="img-thumbnail">
    </div>
    <div style="padding-left: 10px; float: left;">
      <div><a href="/trainers/{{t.username}}"><strong>{{t.name}}</strong></a></div>
      <div>{{t.city}}</div>
    </div>
    {% if user and (org.is_member(user) or user.is_admin()) %}
      {% if workshop.status == 'pending' %}
        <div style="float: left; padding-left: 20px;">
          <form method="POST">
            <input type="hidden" name="trainer" value="{{t.username}}"/>
            <button class="btn btn-primary" type="submit" name="action" value="confirm-trainer">Confirm this trainer</button>
          </form>
        </div>
      {% endif %}
    {% endif %}
    <div class="clearfix"></div>
  </div>
{% endmacro %}

{% macro render_interested_trainers() %}
  {% if user and (org.is_member(user) or user.is_admin()) %}
    <h3>Interested Trainers</h3>
    {% set trainers = workshop.get_interested_trainers() %}
    {% if trainers %}
      <ul class="list-unstyled">
        {% for t in trainers %}
        <li>{{render_trainer(t)}}</li>
        </li>
        {% endfor %}
      </ul>
    {% else %}
      <em>No trainers expressed interest so far.</em>
    {% endif %}
  {% endif %}

  {% if user and user.is_trainer() %}
    {% if workshop.is_interested_trainer(user) %}
      <div class="well well-sm">
        <p>You have expressed interest to conduct this workshop.</p>
        <form method="POST" action="/workshops/{{workshop.id}}">
          <button type="submit" class="btn btn-danger" name="action" value="withdraw-interest">Withdraw Interest</button>
        </form>
      </div>
    {% else %}
      <div class="well well-sm">
        <p>This workshop needs a trainer. Are you interested?</p>

        <form method="POST" action="/workshops/{{workshop.id}}">
          <button type="submit" class="btn btn-primary" name="action" value="express-interest">Express Interest</button>
        </form>
      </div>
    {% endif %}
  {% elif not user %}
    <div class="well well-sm">
      <p>Are you a Pyhton expert?</p>

      <p>Please <a href="/trainers/signup">sign up</a> to express interest to conduct this workshop.</p>
    </div>
  {% endif %}
{% endmacro %}

{% set org = workshop.get_org() %}

{% block content %}
<!--
<ol class="breadcrumb">
  <li><a href="/workshops">Workshops</a></li>
  <li></li>
</ol>
-->
<h1>
  {{ workshop.title }}
  {% if org.can_update(user) %}
  <a class="small" href="/workshops/{{workshop.id}}/edit">Edit</a>
  {% endif %}
</h1>
<div class="workshop-venue">
  <span class="octicon octicon-location"></span>
  <span class="workshop-org">{{ org.name }}</span>,
  <span class="city">{{ org.city }}</span>
</div>
<div>
  <span class="octicon octicon-calendar"></span>
  <span>{{ workshop.date }}</span>
</div>

<div>
{{ workshop.description | markdown }}
</div>

{% if workshop.status == 'pending' %}
  {{render_interested_trainers()}}
{% elif workshop.status in ['confirmed', 'completed'] %}
  <h3>Trainer</h3>
  {{render_trainer(workshop.get_trainer())}}
{% endif %}

<div class="comments">
  <h3>Comments</h3>
  <ul class="list-unstyled">
    {% for c in workshop.get_comments() %}
      <div class="comment panelx panelx-default">
        <div class="comment-head panelx-heading">
          <span class="author">{{c.get_author().name}}</span>
          <span class="date">{{ c.created | datestr }}</span>
        </div>
        <div class="comment-body panelx-body">{{ c.comment | markdown }}</div>
      </div>
    {% endfor %}
  </ul>
  {% if user %}
    <h4>Add New Comment</h4>
    <div class="add-comment">
      <form class="form" method="POST">
        <div class="form-group">
          <textarea name="comment" rows="3" style="width: 100%;"></textarea>
        </div>
        <button type="submit" class="btn btn-primary" name="action" value="add-comment">Add Comment</button>
      </form>
    </div>
  {% endif %}
</div>

{% endblock %}
