{% extends "orgs/view.html" %}

{% macro render_trainer(t) %}
  <div>
    <div style="width: 30px; float: left;">
      <img src="http://www.gravatar.com/avatar/{{t.email | md5}}?s=30&d=mm" class="img-thumbnail">
    </div>
    <div style="padding-left: 10px; float: left;">
      <div><a href="/trainers/{{t.id}}"><strong>{{t.name}}</strong></a></div>
    </div>
    <div class="clearfix"></div>
  </div>
{% endmacro %}


{% macro render_interested_trainers(org, workshop, user) %}
  {% if user and org.is_member(user) %}
    <h3>Interested Trainers</h3>
    {% set trainers = workshop.get_interested_trainers() %}
    {% if trainers %}
      <ul class="list-unstyled">
        {% for t in trainers %}
        <li>{{render_trainer(t)}}</li>
        </li>
        {% endfor %}
      </ul>
    {% else %}
      <em>No trainers expressed interest so far.</em>
    {% endif %}
  {% elif user and user.is_trainer() %}
    <div class="well well-sm">
      <p>This workshop need a trainer. Are you interested?</p>
      <p><a href="#" class="btn btn-primary">Express Interest</a></p>
    </div>
  {% endif %}
{% endmacro %}

{% set org = workshop.get_org() %}

{% block org_content %}
<!--
<ol class="breadcrumb">
  <li><a href="/workshops">Workshops</a></li>
  <li></li>
</ol>
-->
<h1>
  {{ workshop.title }}
  {% if org.can_update(user) %}
  <a class="small" href="/workshops/{{workshop.id}}/edit">Edit</a>
  {% endif %}
</h1>
<div class="row">
  <div class="col-md-9 workshop-details">
    <div class="workshop-venue">
      <span class="octicon octicon-location"></span>
      <span class="workshop-org">{{ org.name }}</span>,
      <span class="city">{{ org.city }}</span>
    </div>
    <div>
      <span class="octicon octicon-calendar"></span>
      <span>{{ workshop.date }}</span>
    </div>

    <div>
    {{ workshop.description }}
    </div>

    {% if workshop.status == 'pending' %}
      {{render_interested_trainers()}}
    {% elif workshop.status == 'confirmed' %}
      <h3>Trainer</h3>
      {{render_trainer(workshop.get_trainer())}}
    {% endif %}


  </div>
</div>

{% endblock %}
