<!doctype html>
<html lang="en">
  <head>
    <title>{% block title %}{{ site_title }}{% endblock %}</title>

    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/octicons/octicons.css">
    <!--
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
  -->

    <link rel="stylesheet" href="/static/styles.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="/">{{ site_title }}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="#">About</a></li>
            <li><a href="/orgs">Organizations</a></li>
            <li><a href="/trainers">Trainers</a></li>
            {% if user and user.is_admin() %}
            <li><a href="/admin">Admin</a></li>
            {% endif %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if user %}
              <li><div style="padding: 15px 0px;">Welcome <strong>{{user.name}}</strong></div></li>
              <li>
                <form name="logout" method="POST" action="/logout" class="hidden"></form>
                <a class="logout" href="javascript:;" onclick="document.forms.logout.submit();">Log Out</a>
              </li>
            {% else %}
              <li><a href="/login">Log In</a>
            {% endif %}
          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </nav>

    {% block content_wrapper %}

    <div class="container">
      {% block flash_messages %}
        {% set flashed_messages = get_flashed_messages() %}
        {% if flashed_messages %}
          <div class="flash-messges">
            {% for f in get_flashed_messages() %}
              {% set cat = dict(error="danger").get(f.category, f.category) %}
              <div class="alert alert-{{cat}}">{{f.message}}</div>
            {% endfor %}
          </div>
        {% endif %}
      {% endblock %}
    </div>

    <div class="container">
      {% block content %}
      {% endblock %}
      </div>
    {% endblock %}

    <footer>
      <div class="container">
        {% block footer %}
          <div class="pull-right">
            <a href="http://blog.pythonexpress.in/">Blog</a> |
            <a href="https://twitter.com/pythonexpress">@pythonexpress</a>
          </div>
          &copy; 2014 <a href="http://python.org.in/">Python Software Society of India</a>
        {% endblock %}
      </div>
    </footer>
    <script src="/static/js/jquery.min.js"></script>
  </body>
</html>
