{% macro render_field(field, help="") -%}
    {% if field.errors %}
        <div class="form-group has-error">
    {% else %}
        <div class="form-group">
    {% endif %}
        <label for="{{ field.id }}">{{ field.label }} <span class="small">{{ help }}</span></label>
        {{ field(class_='form-control', **kwargs) }}
        <ul class="help-block list-unstyled">
            {% for error in field.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>        
    </div>
{%- endmacro %}
