{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>Python Month is back!</h1>
  <p>After conducting 100+ Python workshops across India last year, Python Month is back again this year.</p>

  <div class="row">
    <div class="col-md-6">
        <h2>Are you a professor or student?</h2>
        <div>Organize a Python workshop at your institute.</div>
        <br/>
        <a class="btn btn-primary" role="button" href="/orgs/signup">Sign Up</a>
    </div>
    <div class="col-md-6">
        <h2>Are you a Python expert?</h2>
        <div>Conduct a Python workshop at an educational institute in your city.</div>
        <br/>
        <a class="btn btn-primary" role="button" href="/trainers/signup">Sign Up</a>
    </div>
  </div>
</div>
{% endblock %}