{% from "macros.html" import workshop_list %}
{% extends "base.html" %}

{% block content_wrapper %}
<div style="background-color: #C8E0EF">
  <div class="container">
    <div class="jumbotron" style="background-color: inherit;">
      <h1 style="font-size: 48px;">Welcome to Python Express</h2>
      <p>After conducting 100+ Python workshops across India last year, <a href="http://in.pycon.org/2013/python-month">Python Month</a> is back again this year as Python Express.</p>
    </div>
  </div>
</div>

<div class="container container-signup">
  <div class="row">
    <div class="col-md-6">
        <h2>Are you a professor or student?</h2>
        <div>Organize a Python workshop at your institute.</div>
        <br/>
        <a class="btn btn-primary" role="button" href="/orgs/signup">Sign Up</a>
    </div>
    <div class="col-md-6">
        <h2>Are you a Python expert?</h2>
        <div>Conduct a Python workshop at an educational institute in your city.</div>
        <br/>
        <a class="btn btn-primary" role="button" href="/trainers/signup">Sign Up</a>
    </div>
  </div>
</div>

<div class="container-wrapper-workshops">
<div class="container">
  <div class="row">
    <div class="col-md-6">
        <h2>Completed Workshops</h2>
        {{ workshop_list(completed_workshops) }}
    </div>
    <div class="col-md-6">
        <h2>Upcoming Workshops</h2>
        {{ workshop_list(upcoming_workshops) }}
    </div>
  </div>
</div>
</div>


<style type="text/css">
  .navbar {
    margin-bottom: 0px !important;
  }
</style>
{% endblock %}
