{% macro show_flashed_messages() %}
  {% set flashed_messages = get_flashed_messages() %}
  {% if flashed_messages %}
    <div class="flash-messges">
      {% for f in get_flashed_messages() %}
        {% set cat = dict(error="danger").get(f.category, f.category) %}
        <div class="alert alert-{{cat}}">{{f.message}}</div>
      {% endfor %}
    </div>
  {% endif %}
{% endmacro %}

{% macro workshop_preview(workshop, user=None) %}
  <div class="workshop">
    {% set org = workshop.get_org() %}
    <h3 class="workshop-title"><a href="/workshops/{{ workshop.id }}">{{ workshop.title }}</a></h3>
    <div class="workshop-venue">
      <span class="octicon octicon-location"></span>
      <span class="workshop-org">{{ org.name }}</span>,
      <span class="city">{{ org.city }}</span>
    </div>
    <div class="workshop-date">
      <span class="octicon octicon-calendar"></span>
      <span>{{ workshop.date }}</span>
    </div>
    {% if workshop.status == 'pending' and user and user.is_trainer() %}
      {% if workshop.is_interested_trainer(user) %}
        <form method="POST" action="/workshops/{{workshop.id}}">
          <p>You have expressed interest to conduct this workshop.</p>
          <button type="submit" class="btn btn-danger" name="action" value="withdraw-interest">Withdraw Interest</button>
        </form>
      {% else %}
        <form method="POST" action="/workshops/{{workshop.id}}">
          <button type="submit" class="btn btn-primary" name="action" value="express-interest">Express Interest</button>
        </form>
      {% endif %}
    {% elif workshop.status == 'confirmed' %}
      <div class="workshop-label"><span style="color: #444; border: 1px solid #ccd; border-radius: 5px; padding: 2px; background: #dde;">Confirmed</span></div>
    {% endif %}
  </div>
{% endmacro %}

{% macro workshop_list(workshops, user=None) %}
  {% if workshops %}
    <ul class="list-unstyled">
      {% for w in workshops %}
        <li>{{ workshop_preview(w, user=user) }}</li>
      {% endfor %}
    </ul>
  {% else %}
    <em>None found.</em>
  {% endif %}
{% endmacro %}