.half-rule {
  width: 100px;
  margin: 40px auto;
}

footer {
  border-top: 1px solid #e5e5e5;
  padding: 20px 0px;
  margin-top: 20px;
}

label span.small {
  font-weight: normal;
  color: #737373;
}

.well .btn {
    margin: 5px;
}

ul.org-list li {
    margin: 10px 0px;
    border-top: 1px solid #ddd;
    padding: 10px 0px;
}

.vcard .octicon {
    width: 16px;
    text-align: center;
    color: #ccc;
}

.vcard li {
    padding: 2px 0px;

}

.container-wrapper-workshops {
  background: #eeeeee;
  margin: 20px 0px;
  padding: 20px 0px;
}

li.workshop {
  margin-top: 20px;
  margin-bottom: 40px;
}

li.workshop .octicon {
  width: 20px;
  color: #888;
  text-align: left;
}

li.workshop .workshop-notes {
  font-size: 0.9em;
  color: #888;
}

.org-head {
  background: #eee;
  margin: 0px;
  margin-top: -20px;
  padding-bottom: 10px;
}