.half-rule {
  width: 100px;
  margin: 40px auto;
}

footer {
  border-top: 1px solid #e5e5e5;
  padding: 20px 0px;
  margin-top: 20px;
}

label span.small {
  font-weight: normal;
  color: #737373;
}

.well .btn {
    margin: 5px;
}

ul.org-list li {
    margin: 10px 0px;
    border-top: 1px solid #ddd;
    padding: 10px 0px;
}
