{% from 'forms.html' import render_field %}
{% extends "base.html" %}
{% block content %}
<h1>Sign Up As a Trainer</h1>

{% if not userdata %}
  <div class="well">
    Please authenticate yourself using one of the following services to sign up as trainer.
    <br/>
    <br/>
    <div>
      <a href="/trainers/signup/github" class="btn btn-primary">GitHub</a>
      <a href="/trainers/signup/google" class="btn btn-primary">Google</a>
      <a href="/trainers/signup/facebook" class="btn btn-primary">Facebook</a>
    </div>
  </div>
{% else %}
  <div class="well">
    You've been authenticated as <strong>{{userdata['email']}}</strong> via {{userdata['service']}}. <a href="/trainers/signup/reset">Not you?</a>
    <br/>
    <br/>
    Please fill the form below to complete the sign up process.
  </div>

  <form role="form" method="POST" style="max-width: 400px;">
    {{ render_field(form.name) }}

    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" id="email" value="{{userdata['email']}}" disabled>
    </div>
    {{ render_field(form.username, help="This will be part of your public profile URL.") }}
    {{ render_field(form.phone) }}
    {{ render_field(form.city) }}

    <button type="submit" class="btn btn-default">Sign Up</button>    
  </form>

{% endif %}

{% endblock %}

