{% import "macros.html" as macros %}
{% extends "base.html" %}
{% block content %}

<div class="row">
  <div style="float: left;">
    <img src="http://www.gravatar.com/avatar/{{trainer.email | md5}}?s=150&d=mm" class="img-thumbnail">
  </div>
  <div style="float: left; margin-left: 10px;">
    <h2>{{ trainer.name }}</h2>
    <ul class="list-unstyled vcard">
      <li><span class="octicon octicon-location"></span> {{trainer.city}}</li>
      {% if trainer.github %}
        <li>
          <span class="octicon octicon-mark-github"></span>
          <a href="https://github.com/{{trainer.github}}">{{trainer.github}}</a>
        </li>
      {% endif %}    
      {% if trainer.website %}
        <li>
          <span class="octicon octicon-link"></span>
          <a href="{{trainer.website}}">{{trainer.website}}</a>
        </li>
      {% endif %}    
    </ul>   
  </div>
</div>
<div class="row"> 
  <div class="col-md-6 col-sm-12">
    <h3>Upcoming Workshops</h3>
    {{ macros.workshop_list(upcoming_workshops) }}
  </div>
  <div class="col-md-6 col-sm-12">
    <h3>Recent Workshops</h3>
    <em>{{trainer.name}} has not conducted any workshops so far.</em>
  </div>
</div>
{% endblock %}
