{% extends "admin/base.html" %}
{% block admin_body %}
  <h2>Admins</h2>
  {% if admins %}
    <ul class="list-unstyled org-list">
      {% for admin in admins %}
        <li>
            <a href="/admin/people/{{admin.id}}"><img src="http://www.gravatar.com/avatar/{{admin.email | md5}}?s=30&d=mm" class="img-rounded"></a>
            <strong><a href="/admin/people/{{admin.id}}">{{admin.name}}</a></strong>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <em>No admins have been added so far.</em>
  {% endif %}
  <h3>Add new Admin</h3>
  <form method="POST">
    <div class="form-group">
      <label for="email">Email address <span class="small">There must be a user registered with that email.</span></label>
      <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
    </div>
    <div class="form-group">
      <button type="submit" name="action" value="add-admin">Add Admin</button>
    </div>
  </form>
{% endblock %}

